/* Brand Color*/
:root {
    --brand: #75aae5;
  }
  
  .brand-bg {
    background-color: var(--brand);
  }
  
  .brand-text {
    color: var(--brand);
  }
  .brand-fill{
    fill: var(--brand);
  }
  .brand-before::before{
    background-color: var(--brand);
  }
  .brand-hover-text:hover{
      color: var(--brand)
  }
  .brand-hover-bg:hover{
      background-color: var(--brand)
  }
  .brand-ring {
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    border-color: var(--brand);
  }

  .active {
    color: var(--brand);
  }